.exp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    gap: 20px;
    font-size: 16px;
}
.exp-form h3 {
    margin: 0 auto;
}
.exp-form .form-group {
    display: flex;
    gap: 20px;
    align-items: center;
}
.exp-form .form-group label {
    width: 150px;
    text-align: left;
}
.exp-form .form-group input {
    flex: 1;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px; 
    border: none;
}
.exp-form .form-group textarea {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.exp-form .date-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 600px;
}
.date-group .date {
    display: flex;
    gap: 20px;
    align-items: center;
}
.date-group .date label {
    font-size: 16px;
    width: 50px;
    text-align: right;
}
.date-group .date input {
    flex: 1;
    width: 220px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
